body {
    margin: 0;
    background-color: black;
    font-family: "Source Sans Pro", sans-serif;
}

body,
html {
    height: 100%
}

.bgimg {
    background-image: url('');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: orangered;
    transition: all 0.2s ease-out;
}